
.lightMode{
  background-color:#2f2f2f;
  color: #fff;
}
.darkMode{
  background-color: #fff ;
  color:  #2f2f2f;
}

.navbar{
  display: flex;
  position: sticky;
  background-image:linear-gradient(to right , #190435 ,#370d6d);
}
.navbar h1{
flex: 1;
font-size: 30px;
color: #FF9F4A;
margin-left: 4%;
}
.nightMode{
  font-size: 30px;
  margin: 25px 2% 0px 0px;
  color:#fff;
 
}